RewriteEngine On
RewriteBase /

DirectorySlash Off

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([-\w]+/)*?[-\w]+)(/?)$ $1.html [L]

RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]
