<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-secondary-50 text-secondary-800 antialiased">
  {{ partial "nav.html" . }}
  <main id="main-content">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "mobile-sticky.html" . }}
  <script defer src="/js/mobile-menu.js"></script>
  <script defer src="/js/scroll-reveal.js"></script>
  <script defer src="/js/yandex.js"></script>
  <noscript><div><img src="https://mc.yandex.ru/watch/70102144" style="position:absolute;left:-9999px;" alt="" /></div></noscript>
</body>
</html>
